.container{
  display: flex;
  justify-content: center;
}
body{
  background-color: #FAF8F1 ;
}
.crossed{
  text-decoration: line-through 2px red;
}
ul,li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
h1{
  font-family: 'Poppins', sans-serif;
}
.add{
  margin-top: 15px;
  padding: 10px;
border: none;
width: 20%;
color: white;
font-size: 16px;
background-color: #417D7A;
font-family: 'Poppins', sans-serif;

}
.delete{
  padding: 10px;
border: none;
width: 20%;
color: white;
font-size: 16px;
background-color: #CE7777;
font-family: 'Poppins', sans-serif;

}
input{
 
  width: 40%;
  padding: 10px;
  margin: 10px;
font-family: 'Poppins', sans-serif;
}